header {
    position: fixed;
    top: 0%;
    background-color: #FF8B00;
    width: 100%;
    height: 65px;
}

.nav-block {
    height: 65px;
    width: 100%;
    transition: .5s;
}

#authButton {
    cursor: pointer;
}

.nav-block:hover {
    background-color: #FF8100;
}

.logo {
    margin: 2px;
    width: 40px;
}

.icon {
    width: 13px;
    height: 13px;
}
