body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 5pt;
    padding: 5pt;
    font-family: 'IBM Plex Sans', sans-serif;
}

h1 {
    font-weight: 600;
    color: #000000;
}

h2 {
    font-weight: 100;
    color: #000000;
}

h3 {
    font-weight: 500;
    color: #000000;
}

h4 {
    font-weight: 500;
    color: #000000;
}

a {
    text-decoration: none;
}

.container-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-select {
    -webkit-touch-callout: none;
      -webkit-user-select: none; 
       -khtml-user-select: none; 
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

.bottom {
    position: absolute;
    bottom: 30px;
}