.product {
    /* max-height: 254px; */
    flex-flow: row;
    justify-content: left;
    align-items: unset; 
    margin: 10px;
    transition: .5s;
}

.product:hover {
    background-color: #e2e2e2;
}

.__product-block {
    margin: 20px;
}

.product-info {
    flex-flow: column;
    justify-content: left;
    align-items: unset;
    width: 60%;
}

.product-image {
    width: 150px; height: 214px;
}

.product-price {
    font-weight: bold;
}

.product-title {
    font-weight: bold;
}

.product-description {
    font-weight: normal;
}

.product-rating {
    font-weight: bold;
}

.product-button-sect {
    flex-flow: column;
    justify-content: center;
    width: 20%;
}

.add-to-cart-button {
    opacity: 1;
    height: 45px;
    width: 100%;
    background: #FFBA00;
    max-width: 170px;
}

.add-to-cart-button:hover {
    background-color: #FF8B00;
}
