.info_plase {
    background-color: #fff;
    border: 2px solid #FF8E26;
    box-sizing: border-box;
    color: #b2b2b2;
    cursor: text;
    display: flex;
    flex-direction: column;
    font: 14px Arial;
    margin-bottom: 16px;
    padding: 11px 40px 11px 15px;
    position: relative;
    width: 40%;
}

.user_data {
    display: flex;
    flex-flow: column wrap;
}

.user_data_input {
    outline: none;
    border: none;    
}

.choice_sex {
    margin: 16px 0;
    font-size: 18px;
}

.exit {
    width: 15%;
    height: 50px;
    font-size: 15px;    
    background-color: #EC4B19;
    border: none;

}

h1, h2 {
    margin: 15px 0;
}