<nav class="container-flex">
    <div class="container-flex">
        <a class="container-flex nav-block" href="../index.php">
            <img class="logo" src="./content/images/favicon.svg">
            <h3 class="nav-text">
                Family Shop
            </h3>
        </a>
        <a class="container-flex nav-block" href="../index.php?page=catalog">
            <h4 class="nav-text">
                <img class="icon" src="./content/images/nav/catalog.svg">
                Каталог
            </h4>
        </a>
        <a class="container-flex nav-block" href="../index.php?page=contacts">
            <h4 class="nav-text">
                <img class="icon" src="./content/images/nav/contacts.svg">
                Контакты
            </h4>
        </a>
        <a class="container-flex nav-block" href="../index.php?page=cart">
            <h4 class="nav-text">
                <img class="icon" src="./content/images/nav/cart.svg">
                Корзина
            </h4>
        </a>
        <a class="container-flex nav-block" href="../index.php?page=profile" id="authButton">
            <h4 class="nav-text">
                <img class="icon" src="./content/images/nav/user.svg">
                Войти
            </h4>
        </a>
    </div>
</nav>

<!-- Окно авторизации -->
<div class="nav-block" id="navigation">
    <div class="fullscreen-fixed container-flex no-select" id="modalWindow">
        <div class="modal-window">
            <h2 class="modal-title container-flex">
                Авторизация
                <button type="submit" class="button close-button container-flex" id="modalWindowClose"><img src="./content/images/nav/close.svg"></button>
            </h2>
            <form>
                <div class="container-flex">
                    <input class="user-input" type="text" placeholder="Введите логин">
                </div>
                <div class="container-flex">
                    <input class="user-input" type="password" placeholder="Введите пароль">
                </div>

                <div class="container-flex">
                    <button class="button proceed-button bottom" type="submit">Войти</button>
                </div>
            </form> 
        </div>
        <div class="background fullscreen-fixed" id="modalWindowBackgr"></div>
    </div>
</div>


